<div class="d-flex flex-row mb-3 p-3 m-3">

  <div class="card ">
    <h5 class="card-header">Create a New Blog:</h5>
    <div class="card-body">
      <h5 class="card-title">Blog title:<input
          class="form-input"
          type="text"
          id="blog-title"
          name="blog-title"
        /></h5>
      <h5 for="blog-contents" class="card-body">Contents:</h5>
      <textarea
        style="width: 30rem;"
        class="form-input"
        id="blog-contents"
        name="blog-contents"
      ></textarea>
      <button class="submitBtn btn btn-primary">Create</button>
    </div>
  </div>
</div>