* {
  font-family: 'Share Tech Mono', monospace;
}

header, .blog:not(:last-child) {
  border-bottom: 1px solid #ffff;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #60d63c;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #159f00;
  text-decoration: underline;
}

